@import 'assets/styles/colors';
@import 'assets/styles/helpers';

//the UI of songs
.song-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom:100px;

}

//holds the genres
.genre-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $mainGrey;
  margin: 0;
  padding: 0 20px 0 20px;
  height: 40px;
}


.genre-name{
  list-style: none;
  margin-left: 55px;
  //margin-left: 10px;
}

.ganere-chosen{
  font-weight: 600;
  //background-color:#cdd6d8;
  display: inline-block;
  height:40px;
}

.genre-titl{
  margin-left:40px;
}

.explore-component{
  padding-top:77px;
  line-height: 40px;
}


//navigation for song list
.navigation-song-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  //margin-top:51px;
  margin-bottom:100px;
}



.navigation-song-btn span {
  margin: 0 95.5px 0 95.5px;
  font-size: 1rem;
}

.nav-btn{
  width:87px;
  height:30px;
  background-color: #2196F3;
  color: white;
  border: 1px solid transparent;
}

.loading-logo{
  @include positionTopLeft(absolute, 40%, 40%);
  font-size: 48px;
  color: $mainBlue;
}
