@import 'assets/styles/colors';
@import 'assets/styles/helpers';

//the UI of songs
.song-holder {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  //justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto 100px;
  //flex-basis: auto;
  //margin-bottom: 100px;

}
//solving flex row problem in last row.
//based on css stack overflow with tweeks: http://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid
.song-holder::after{
  content: "";
  width: 292px;

}

//holds the genres
.genre-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $mainGrey;
  margin: 0;
  padding: 0 20px 0 20px;
  height: 40px;
  line-height:40px;

}

.one-song:empty {
    height: 0;
    border: none;
}

.genre-name {
  list-style: none;
  margin-left: 55px;
  //margin-left: 10px;
  & .link{
    color: #000000;
    //border: 1px solid red;
  }
}

//.genre-name  .link{

  //color: #000000;
  //border: 1px solid red;
//}



.ganere-chosen {
  font-weight: 600;
  //background-color:#cdd6d8;
  display: inline-block;
  height: 40px;

}

.genre-titl {
  margin-left: 40px;
}

.explore-component {
  //padding-top: 77px;
  //line-height: 40px;
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

//navigation for song list
.navigation-song-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  //margin-top:51px;
  margin-bottom: 100px;
}

.navigation-song-btn span {
  margin: 0 95.5px 0 95.5px;
  font-size: toRem(16);
}

.nav-btn {
  @include widthHight(87px,30px);
  //width: 87px;
  //height: 30px;
  background-color: #2196F3;
  color: white;
  border: 1px solid transparent;
  &:disabled{
    background-color: #D8D8D8 ;
  }
}

.loading-logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 49%;
  //@include positionTopLeft(absolute, 40%, 40%);
  font-size: 48px;
  color: $mainBlue;
}
