@import 'assets/styles/colors';
@import 'assets/styles/helpers';

.sign-in-modal{
  @include widthHight(100%,100%);
  @include positionTopLeft(absolute, 0, 0);
  z-index: 10;
  background-color: #fff;
}

.big-logo {
  font-size: toRem(100);
  color: $mainBlue;
  @include positionTopLeft(absolute, 5%, 43.8%);
}

.title-sign-in{
  @include positionTopLeft(absolute, 14.7%, 40.5%);
  font-size: toRem(40);
  color:$mainBlue;
  font-weight: 300;
}

.inser-info-component {
  @include positionTopLeft(absolute, 28.5%, 32.8%);
}



.inser-info-component input,
.inser-info-component label {
  display: block;
  font-size: toRem(16);

  & input {
    //margin-top: 5px;

    //& label input {
    //  width: 40.6vw;
    //  border: 1px solid transparent;
    //}
    //& label:first-child input {
    //  border-bottom: 1px solid $redError;
    //}
    //& label:last-child input {
    //  border-bottom: 1px solid $mainBlue;
    //}

  }
}

.btn-sign-in{
  @include positionTopLeft(absolute, 65%, 44.5%);
  font-size: toRem(13);
  @include widthHight(87px,30px);
  background-color: $mainBlue;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;


  & ~ p{
    @include positionTopLeft(absolute, 71%, 32.8%);
    font-size: toRem(14);
  }
  & ~ p a{
    margin-left:20px;
    color: $mainBlue;
    font-size:toRem(14);
  }


}

//effects:

.unser-register{
  position: relative;
  & input{
    //position: relative;
    //height: 0;
  }
  & .labels{
    //margin-b: 20px;
  }
}

.login-inputes{
  border: 1px solid transparent;
  border-bottom: 1px solid $mainBlue;
  width: 40.6vw;
  margin-top: 5px;

  &:focus{
    outline: none;
  }
}


.user-name-error{
  display: block;
  height:30px;
  color:$redError;
  font-size: .7rem;
}