@import 'assets/styles/colors';



.player-holder{
  position: fixed;
  bottom: 0;
  left: 0;
  //display: flex;
  //justify-content: center;
  height:60px;
  width:100vw;
  background-color: #fbfbfb;
}

.player-thumbnail{
  float: left;

}

.player-song-name{
  float: left;
}

.player-controls{
  display: block;
  position: absolute;
  bottom:50%;
  left: 40vw;
}
