@import 'assets/styles/colors';
@import 'assets/styles/helpers';

.play-list-title {
  //@include widthHight(784px, 64px);
  width: calc(100% - 20px);
  background-color: white;
  list-style: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top:10px;
  //margin-top:20px;
  box-shadow: 0 0 2px 0;
  position: relative;

  & p {
    line-height: 64px;
    font-size: 22px;
    font-family: Roboto-Light;
    margin-left: 20px;
    &:hover{
      cursor: pointer

    }
  }


  & .del-btn { // can also be .play-list-title p ~ .del-btn if i only want to see it it p
    display: none;
    color: red;
    border: 1px solid transparent;
    background-color: white;
    @include positionTopRight(absolute, 0, 0)
    //position: absolute;
    //top: 0;
    //right: 0;

  }


  &:hover .del-btn { // can also be .play-list-title p:hover ~ .del-btn if i only want to see it it p
    display: inline-block;
    @include widthHight(87px,37px);
    //width: 87px;
    //height: 37px;
    //background: grey;

    margin-right: 20px;
    margin-top: 15px;
  }

  & .btn-eff:after {
    background: whitesmoke;
  }

}





.ply-input-title {
  line-height: 60px;
  font-size: toRem(22);
  margin-left: 20px;

  //position: relative;
  //margin-top: 10px;
  //border: 1px solid transparent;

}

//end of helper
.song-counter {

  border-radius: 50px;
  display: inline-block;
  @include widthHight(18px,18px);
  //width: 18px;
  //height: 18px;

  background-color: $mainBlue;
  color: #FFFFFF;
  font-size: toRem(22);
  //padding: 4px 4px 0 6px;
  vertical-align: top;
  margin-top:10px;

}

.song-counter span{

  color: #FFFFFF;
  font-size: toRem(16);
  vertical-align: top;
  position: relative;
  top:-23px;
  left:4px;

}

.playlist-song-holder {
  margin-top: 26px;
  width: 100%;
  //width:784px;
  //margin:0 auto;
  margin-left: 50px;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 160px;

}

