@import 'assets/styles/colors';
@import 'assets/styles/helpers';



.play-list-title{
  @include widthHight(784px,64px);

  background-color: white;
  list-style: none;
  display: block;
  margin:0 auto;
  margin-bottom:20px;
  //margin-top:20px;
  box-shadow: 0 0 2px 0;
  position: relative;
}

.play-list-title p{
  line-height: 64px;
  font-size: 22px;
  margin-left: 20px;
}


.play-list-title p ~ .del-btn{
  display: none;
  color: red;
  border: 1px solid transparent;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;

}

.play-list-title p:hover ~ .del-btn{
  display: inline-block;
}

.ply-input-title{
  line-height: 60px;
  font-size: 22px;
  margin-left: 20px;
  //margin-top: 10px;
  //border: 1px solid transparent;

}

//end of helper
.play-list-title span{

  border-radius: 50px;
  //display: inline-block;
  width: 18px;
  height: 18px;
  color: #FFFFFF;
  background-color: $mainBlue;
  font-size: 12px;
  padding-left:6px;
  padding-top:2px;
  //padding-right:4px;
  position: absolute;
  top: 0;
  left:36%;
  //vertical-align: super
  //margin-bottom:4px;
}

.playlist-song-holder{
  margin-top: 26px;
  width:100%;
  //width:784px;
  //margin:0 auto;
  margin-left: 50px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 160px;

}

